# ------ Monorepo Global ------
.DS_Store
Thumbs.db
desktop.ini
*.swp
*~
.env
.env.local

# ------ Frontend (Next.js) ------
frontend/.next/
frontend/node_modules/
frontend/coverage/
frontend/out/                  # Si usas output: 'export'

# ------ Electron ------
electron/node_modules/
electron/build/                # Build final de la app
electron/dist/                 # Ejecutables empaquetados
electron/release-builds/
electron/electron-builder.yml

# ------ Backend (Django) ------
backend/venv/
backend/env/
backend/*.sqlite3
backend/__pycache__/
backend/*.py[cod]
backend/*.log
backend/*.pot
backend/*.pyo
backend/*.pyd
backend/.venv/
backend/pip-wheel-metadata/
backend/staticfiles/
backend/media/
backend/db.sqlite3

# ------ Editors/IDEs ------
.vscode/
.idea/